/* General Styling */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust as needed */
}

.btn {
  padding: 10px 20px;
  background-color: red;
  color: #ffffff;
  text-decoration: none;
  border-radius: 25px;
}

/* Header Styling */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 10px;
  box-shadow: var(--shadow-1);
  z-index: 4;
  margin:0;
  transition: background-color 0.5s ease; /* Animate the color change */
}

.header.scrolled {
  background-color: white;
  box-sizing: border-box;
}

/* Navigation Styling */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center children */
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar-link.active {
  border-bottom: 2px solid red;
}
.scrolled .title{color:red;}
.scrolled .navbar-link {
  color: #000;
}

.navbar {
  margin-left: auto;
}

.navbar-list {
  font-size: 10px;
  color: black;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  margin-right: 20px;
}

/* Title Styling */

.title {
  color: white;
  transition: color 0.5s ease;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Copperplate, Papyrus, fantasy';
}

.scrolled .title {
  margin-left: 50px;
}

/* Hero Section Styling */

.hero-banner {
  position: relative;
  margin-top: 5px; /* Adjust the value as needed */
}

.hero-banner-img {
  width: 660px;
  height: 753px;
}

.hero-content {
  position: absolute;
  margin-left: 25%; /* Adjust value as needed */
  margin-right: 25%; /* Adjust value as needed */
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.hero-subtitle, .hero-section-text {
  color: white;
  font-size: 55px;
}

.hero-section-text {
  font-size: 25px;
}

/* About Section Styling */

.section {
  padding: 50px 0; /* Adds 50px padding to top and bottom */
}

.container-about {
  display: flex;
  align-items: center; /* This centers items vertically */
  justify-content: space-between; /* This separates the image and content */
  max-width: 1200px; /* Or any width you want to constrain your content */
  margin: 0 auto; /* Centers the content horizontally */
}

.my-avatar {
  flex: 0 0 40%; /* This takes up 40% width of the container */
  text-align: center; /* Center the image horizontally */
}

.about-content {
  flex: 1; /* This ensures that the content section takes the remaining space */
  padding-left: 30px; /* Gives some space between the image and content */
}

.about-subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-section-content {
  font-size: 16px;
  margin-bottom: 20px;
  margin-right:20%;
}

.my-name {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.coach-title {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-primary {
  color: white;
  background-color: red;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.btn-primary:is(:hover, :focus) {
  background-color: var(--rich-black-fogra-29-1);
  color: var(--white);
  box-shadow: none;
}


/* Centering the content */
.section.personal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.personal-section {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

/* For the horizontal scrollable container */
.horizontal-scrollable-container {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  justify-content: flex-start;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* Mobile webkit browsers will have a nice smooth scrolling */
  scrollbar-width: thin; /* For Firefox */
}

.horizontal-scrollable-container::-webkit-scrollbar {
  background-color: white ;/* You can adjust this color if needed */
  height: 8px;
  border-radius: 5px;
}

.horizontal-scrollable-container::-webkit-scrollbar-thumb {
  background-color: red; /* You can adjust this color if needed */
  border-radius: 4px;
}
.personal-section-content,.personal-subtitle{color:white;}
.workout-plan-box {
  flex: 0 0 auto;
  background-color: #f8f8f8;
  color:black;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  min-width: 250px;
  white-space: normal;
  margin-bottom: 2%;

}
.btn {
  padding: 10px 15px;
  max-width: 90%; /* Adjust as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

/* Pricing Section */ 
/* Basic Reset */


/* Container Styling */
.container-pricing {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Pricing Section Styling */
.pricing-section {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pricing-subtitle {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.pricing-section-content {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}

/* Pricing Table Styling */
.pricing-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.pricing-table th, .pricing-table td {
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
}

.pricing-table th {
  background-color: red;
  color: #fff;
}

.pricing-table tbody tr:hover {
  background-color: #f0f0f0;
}











/* Footer Section */

.v1tality-footer {
  font-family: 'Arial', sans-serif;
  color: white; /* red text */
  background-color: #b0b0b0; /* grey background */
}

.v1tality-footer a {
  color: white; /* red text */
  text-decoration: none;
  transition: color 0.3s;
}

.v1tality-footer a:hover {
  color: #e63946; /* slightly darker red on hover */
}

.container-footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* ensures that flex items will not wrap onto multiple lines */
}

/* Logo and Brand Info */
.v1tality-brand {
  flex: 1;
  margin-right: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.v1tality-brand .logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  margin-bottom: 25px;
}

/* Quick Links and Hours */
.v1tality-links, .v1tality-hours, .v1tality-contact {
  flex-basis: 0; /* ensures equal width for all three columns */
  flex-grow: 1;
  margin-right: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.v1tality-contact {
  margin-right: 0; /* Reset margin for the last item to ensure alignment */
}

.v1tality-links-header, .v1tality-hours-header {
  font-weight: bold;
  margin-bottom: 25px; /* increased spacing */
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.v1tality-links ul, .v1tality-hours p {
  margin-top: 20px; /* increased spacing */
}

.v1tality-links ul li {
  list-style-type: none; /* remove bullet points */
}

/* Contact Info */
.v1tality-contact-header {
  font-weight: bold;
  margin-bottom: 25px; /* increased spacing */
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.v1tality-contact ul {
  padding-left: 0; /* remove padding */
}

.v1tality-contact ul li {
  list-style-type: none; /* remove bullet points */
  display: flex;
  align-items: center;
  margin: 20px 0; /* increased spacing */
}

.v1tality-contact ion-icon, .v1tality-contact img { /* added img for favicons */
  margin-right: 12px;
  font-size: 20px;
  width: 20px; /* for favicons */
  height: 20px; /* for favicons */
}

/* Footer Bottom */
.v1tality-footer-bottom {
  background-color: #1b1b1b; /* darker than main footer for differentiation */
}

.copyright {
  text-align: center;
  font-style: italic;
}

.copyright-link:hover {
  text-decoration: underline;
}
